.footer{
    height: 400px;
    width: 100%;
    max-width: 100%;
    background: black;
    margin-bottom: 0;
    position: relative;
}



a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    padding: .1em 0;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    animation-name: social;
}


h4 {
    color: white;
}
.card {
    background: none;
    border: none;
    margin-top: 5%;
}

#footer-content {
    padding: 2em 0;
}

#social {
    margin-top: 1.5em;  
}

#social a {
    color: rgba(255, 255, 255, .5);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 0 .2em;
    margin: 0 .2em;
}

#social a:hover {
    color: white;
    text-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
}

