.jumbotron {
  background: none;
}

#home-img{
  background-image: url("../imgs/img1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px;
  width: 100%;
  padding-top: -1em;
  margin-top: 0;
  padding-bottom: 2em;
  margin-bottom: 1em;
}



#home-second {
  margin: 1em 0;
}
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.card {
  margin: 1em 0;
}

div #right-panel {
  background: rgba(212,228,239,1);
  margin-right: 1em;
  padding: 1em .5em 0 .5em;
  margin-top: 2em;
  -webkit-box-shadow: -4px 24px 36px -14px rgba(0,0,0,0.38);
  -moz-box-shadow: -4px 24px 36px -14px rgba(0,0,0,0.38);
  box-shadow: -4px 0px 36px -14px rgba(0,0,0,0.38);
}

#home-card {
  margin: 3em 0;
}

.card:hover{
  -webkit-box-shadow: -4px 24px 36px -14px rgba(0,0,0,0.38);
  -moz-box-shadow: -4px 24px 36px -14px rgba(0,0,0,0.38);
  box-shadow: -4px 24px 36px -14px rgba(0,0,0,0.38);
}

div.jumbotron {
  margin-top: 0;
  padding: .5em 1em;
}

#home-imgdesc img {
  height: 400px;
  width: 100%;
  max-width: 100%;
  border-radius: 1em;
}

#home-imgdesc p {

  color: gray;
}

#home-imgdesc {
  margin-bottom: 2em;
  padding-bottom: 2em;
}
