#contact-form {
    margin: 2em 0;
    padding: 0 1em;
}

#contact-form label {
    font-weight: bold;
}

#contact-form h1 {
    margin: .85em 0;
}

.btn-outline-dark {
    outline-color: rgba (0, 0, 0, 0.5);
}

#formbtn:hover {
    cursor: pointer;
    background: black;
    color: white;
}

/* floating bar */
@media (max-width: 767px) {
  .sticky-container {
    display: none !important;
  }
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:10em;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:none;
    color:#efefef;
    height:43px;
    padding:5px;
    padding-top: 1.5em;
    margin-top: 1em;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-50px;
}
.sticky li i{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li i{
    padding-top:5px;
    margin:0px;
    line-height:5px;
    font-size:25px;
}

.sticky li a:hover{
    text-decoration:underline;
}

#fb:hover{
    background: #3B5998;
    color: white;
    border-radius: 2em;
    padding: 0.85em 2em;
}
#tw:hover{
    background: #0084b4;
    color: white;
    border-radius: 2em;
    padding: .85em 2em;
}
#google:hover{
    background: #db4a39;
    color: white;
    border-radius: 2em;
    padding: .85em 2em;
}
#linkedin:hover{
    background: #0e76a8;
    color: white;
    border-radius: 2em;
    padding: .85em 2em;
}
#youtube:hover{
    background: #c4302b;
    color: white;
    border-radius: 2em;
    padding: .85em 2em;
}
#yelp:hover{
    background: #c41200;
    color: white;
    border-radius: 2em;
    padding: .85em 2em;
}
#pinterest:hover{
    color: white;
    background: #c92228;
    border-radius: 2em;
    padding: .85em 2em;
}


#social-float {
    height: 2em;
    background: green;
    color: rgba(255, 255, 255, 0.7);
    font-size: smaller;
    border-radius: 2em;
    padding: .2em .9em;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}


#contact-page {
  margin: 2em 0;
}


#services-sec{
  margin: 2em 0;
}
