#footer {
  margin: 1em auto;
  padding: 1em 0;
}


.list-group-item {
  background: none;
  border: none;
  font-size: smaller;
}

.list-group-item:hover {
  color: black;
}


#footer-mid a {
  color: gray;
  text-decoration: none;
  margin: 1em .75em;
  font-size: larger;
}

#footer-mid a:hover{
  color: black;
}

#footer p{
  color: gray;
}
