/* MIAIN ELEMENTS */
body, html {
  height: 100%;
  margin: inherit;
}

header {
  height: 13%;
  text-align: center;
  padding-top: 1.5%;
}

/* B SECTION */
blockquote {
  border-left: 3px solid tomato;
  margin-left: 15%;
  padding-left: 0.25em;
  font-style: italic;
  font-size: 8px;
  margin-top: 5%;
}

blockquote p {
  font-size: 15px;
}
/* C Section */

.col-md-7 p {
  color: tomato;
  font-size: 2em;
  font-style: italic;
}

.card-group {
  margin: 20% 0;
}

.card-title {
  color: tomato;
}

/* D SECTION */




/* F Section */
figcaption {
  bottom: 40px;
  right: 20px;
  position: absolute;
  background-color: rgba(0,0,0, 0.5);
  color: white;
  border-radius: 1em;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  transition: all ease-in-out .5s;
  z-index: 1100;
}
.figure-caption {
  color: white;
}
figure img {
  transition: all ease-in-out .5s;
}
figure img:hover{
  opacity: 0.5;
}

figure img:hover~figcaption {
  cursor: pointer;
  display: block;
}

.fa-linkedin-in {
  transition: all .2s ease-in-out;
}
.fa-twitter {
  transition: all .2s ease-in-out;
}
.fa-facebook-f {
  transition: all .2s ease-in-out;
}
.fa-youtube {
  transition: all .2s ease-in-out;
}

.fa-linkedin-in:hover,
.fa-youtube:hover,
.fa-facebook-f:hover,
.fa-twitter:hover{
  transform: scale(1.3);
}
.fa-bars {
  color: white;
}

#footer {
  background-image: url("../imgs/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.8);
  height: 200px;
  bottom: 0px;
  color: white;
  padding-top: 4em;
}

#footer ul li {
  display: inline-block;
}


footer {
  height: 20%;
  background-image: url("../imgs/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
  background-attachment: fixed;
  bottom: 0px;
  padding-top: 10px;
}
.footer-social {
  margin: 0 auto;
  text-align: center;
}

.footer-links a {
  color: white;
  font-size: 1em;
  margin: .5em;
  margin-top: 3em;
  text-decoration: none;
  transition: all .2s;
  text-align: center;
}
.footer-links a:hover {
  color: tomato;
}
.footer-links {
  margin-top: 2em;
}

/* H SECTION */
.hero-img {
  background: url("../imgs/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40%;
}

/* J SECTION */
.jumbotron {
  background: none;
  text-align: center;
}

/* M SECTION */

/* N SECTION */
.navbar-container {
  background: #333;
  position: sticky;
}
.nav-link, .navbar-brand {
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.15em;
}
.nav-link a {
  margin: 100% auto;
}
.nav-link:hover {
  color: white;
  border-bottom: solid 2px white;
  padding-bottom: 5px;
  transition: all ease-in-out .3s;
  border-bottom-color: tomato;
}
.navbar-brand:hover {
  color: tomato;
}
/* S SECTION */
.social-media a {
  font-size: 1.5em;
  margin: 0 .25em;
  padding-top: 2em;
}
.social-media p {
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  padding-top: 1.5em;
}

#services {
  /* height: 70%; */
  text-align: center;
}

#serv-title {
  background-image: url("../imgs/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
  background-attachment: fixed;
  height: 120px;
  color: white;
}



/* MEDIA QUERIES */
@media (max-width: 600px) {
  header {
    text-align: center;
    height: 150px
  } .social-media {
    margin-top: .2em;
    font-size: 1em;
  } .social-media #social-text {
    display: none;
  }
}

@media (max-width: 992px) {
  .social-media p {
    font-size: 16px;
  }
}
